@media screen and (max-width:599px) {
    
    .nav-container, 
    .left-navbar ,
    .rigth-navbar,
    .section-1-img-desktop{
        display: none;
    }
    
    body{
        height: auto;
        background-color: white;
    }
    h1,h2,h3{
       font-size: 1.6rem;
       color: var(--VeryDarkGrayishBlue)

   }
   p{
       font-size: 1.1rem;
        color: var(--VeryDarkGrayishBlue)
   }
   .btn{
    padding: 0.5rem 1rem;
    font-size: 1rem;
   }

    .navbar-container-mobile{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3rem 1.5rem 1.44rem 1.44rem;
    }
    .navbar-container::after{
        display: none;
    }

    .openMenu{
        display: block;
    }
    
    .hamburgerMenu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hamburgerMenu span{
        display: block;
        height: 0.19rem;
        width: 1.975rem;
        background-color: #000;
    }

    .hamburgerMenu span:not(:last-child){
        margin-bottom: 3.5px;
    }
    .hamburger{
        visibility: hidden;
        display: none;
        position: absolute;
        flex-direction: column;
        align-items: center;
        /* min-width: 20rem; */
        width: calc(100% - 3rem);
        height: auto;
        background-color: #fff;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0.4rem;
        padding: 2rem 0;
        z-index: 1;

    }
    .hamburger button{
        color: #000;
        font-size: 1rem;
        font-weight: 550;
        margin: 1.05rem 0;
    }

    .hamburger .dropDown-link{
        font-size: 0.9rem;
        font-weight: 550;
       color: hsl(0deg 0% 0% / 47%);
       margin: 0.75rem 0;
    }

    .hidden-company, .hidden-connect, .hidden-product{
        visibility: hidden;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 4rem);
        background-color: var(--GrayishBlue);
        border-radius: 0.4rem;
        margin-top: 1rem;
    }

    

    .open span:first-child{
        transform: rotate(45deg)
            translateY(7px) 
            translateX(9px);
    }
    .open span:last-child{
        transform: rotate(-45deg);
    }
    .open span:nth-child(2){
        visibility: hidden;
    }

    .open .hamburger{
        visibility: visible;
        display: flex;

    }

    .hamburger .show{
        visibility: visible;
        display: flex;

    }
    .auth-mobile{
        width: 90%;
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        border-top: 1px solid black;
    }

    .navbar-container{
        position: relative;
        z-index: 0;
        color: var(--White);
    
    }

    .hero-container H1{
        font-size: 1.68rem;
        font-weight:400 ;
        text-align: center;
    }
    .hero-description p{
        font-size: 1rem;
        font-weight:400 ;
        text-align: center;
    }
    .hero-button{
        display: inline-flex;
        gap: 1.1rem;
    }

    .section-1{
        padding: 1.5rem;
        background-color: white;
    }

    .section1-content{
        position: relative;
        display: block;
        flex-direction: column;
        
    }

    .section-1-img {
        display: inline-block;
        position: relative;
        margin: 0;
        background-image: url("../images/illustration-editor-mobile.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        width: calc(100% - 1.5rem);
        min-height: 21rem;
        left: 50%;
        transform: translateX(-50%);
        background-position: center;
    }

    .article{
        text-align: center;
        margin-bottom: 3.4rem;
        
    }

    .section-2{
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 0;
        padding: 12rem 2rem 7rem 2rem;
    }

    .section-content{
        margin: 0;
    }

    .section-2 .section-content H3,
    .section-2 .section-content p{

        color: white;
    }

    .section-2::before {
        content: " ";
        position: absolute;
        background-image: url(../images/illustration-phones.svg);
        background-size: 65%;
        background-repeat: no-repeat;
        top: -5.5rem;
        background-position: center 1rem;
    }

    .section-3{
        grid-template-columns: none;
        grid-auto-rows: 0.6fr 1fr;
        padding: 0;
    }
    .section-3-img{
        min-height: 20rem;
    }
    .section-3-img::before {
        background-size: 120%;
        width: 100%;
        height: 100%;
        background-position: center;
    }

}

@media screen and (min-width:600px) and (max-width:1023px){

    .navbar-container-mobile,
    .openMenu,
    .section-1-img{
        display: none;
    }
    .nav-container{
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        color: var(--White);
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top:3.75rem;
        
    }
    .btn{
        padding: 0.6rem 1.5rem;
        border: none;
        border-radius: 3rem;

    }

    .section-1-img-desktop::before{
        content: " ";
        position: absolute;
        background-image: url(../images/illustration-editor-desktop.svg);
        background-repeat: no-repeat;
        background-size:200%;
        width: 100%;
        height: 100%;
        max-height: 54rem;
        background-position: -2rem 8rem;
    }

    .navbar::after{
        background-size: 210%;
        background-position: -437px -1561px;
    }
    .section1-content{
        gap: 1rem;
    }
    .section-1{
        padding-left:3.5rem ;
    }

    .section-2 {
        gap: 0rem;
        margin: 0rem;
    }

    .section-2::before {
        background-size: 51%;
        top: -25%;
        width: 100%;
        height: 80%;
        background-position: 0rem 2rem;
    }
    .section-content {
        margin-right: 1.5rem;
    }
    .section-3-img::before {
        background-size: 200%;
    }

}

@media screen and (min-width:1024px){

    .navbar-container-mobile,
    .openMenu,
    .section-1-img{
        display: none;
    }

    .navbar::after{
        content: "";
        position: absolute;
        background-image: url('../images/bg-pattern-intro-desktop.svg');
        background-size: 210%;
        background-repeat: no-repeat;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: -437px -1561px;
    }
    .section-1-img-desktop::before{
        content:" ";
        position: absolute;
        background-image: url("../images/illustration-editor-desktop.svg");
        background-repeat: no-repeat;
        background-size: 140%;
        width: 100%;
        height: 100%;
        max-height: 55rem;
        background-position: 0rem 3rem;
    }

   
    .footer-content{
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
}