.section-1{
    position: relative;
    background-color: var(--GrayishBlue);
    padding-top: 10rem;
    padding-left:5rem ;
}
.section-title{
    text-align: center;
}

.section1-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 2.3rem;
}

.section-1-img-desktop{
    position: relative;
    height: 55rem;
}

.title{
    font-size: 1.3125rem;
    margin-bottom: 2.125rem;
}

.article{
    font-weight: 300;
    margin-bottom: 5.5rem;
}

.description{
    font-size: 0.9rem;
    color: var(--VeryDarkGrayishBlue);
}